In [51]:
import pandas as pd
from pathlib import Path

In [24]:
city_bike = pd.read_csv('city_bike.csv')
city_bike.head(5)

,id,latitude,longitude,free_bikes,empty_slots,bike_station
0,1f5c4bbbdda9c2d08239135f4adde68f,41.969090,-87.674237,7,39,0
1,1ad7fb8d86ae4bffa241927486981a37,41.793242,-87.587782,13,6,1
2,5722adf4f567f20396ba64db2aa3952b,41.882830,-87.661206,6,5,2
3,d510712148d2ace2f7efade8e41b4fa4,41.950687,-87.668700,12,3,3
4,7d847e4d2e95d93d23dfb60e811f3888,41.929546,-87.643118,13,0,4

In [25]:
foursquare_api = pd.read_csv('foursquar_api.csv')
foursquare_api.head(5)

,fsq_id,free_bikes,bike_station,empty_slots,latitude,longitude,distance
0,5333308c498e832a60af3d55,7,0,39,41.96909,-87.674237,64
1,4a807b49f964a52069f51fe3,7,0,39,41.96909,-87.674237,42
2,520c391a11d2d981be88347b,7,0,39,41.96909,-87.674237,172
3,5a6fafafc62b49492c130013,7,0,39,41.96909,-87.674237,50
4,535b07c3498eba1a59a21680,7,0,39,41.96909,-87.674237,47

In [26]:
yelp_api = pd.read_csv('yelp_api.csv')
yelp_api.head(5)

,id_x,review_count,rating,free_bikes,bike_station,empty_slots,latitude,longitude
0,69-XeqifmzI1DaDPddIh-Q,6.0,5.0,7,0,39,41.96909,-87.674237
1,mVmnJBgltQmdzuML9in32Q,34.0,5.0,7,0,39,41.96909,-87.674237
2,IX0qRFsU9Hyx1LNPb4pGoQ,85.0,5.0,7,0,39,41.96909,-87.674237
3,--Yw337vTC4fLKRCaw-PLQ,276.0,5.0,7,0,39,41.96909,-87.674237
4,VTeUMSgvaGUWaa3gxp6f7g,82.0,5.0,7,0,39,41.96909,-87.674237

In [27]:
df_merge = yelp_api.merge(city_bike, on = 'bike_station')

In [28]:
df_merge

,id_x,review_count,rating,free_bikes_x,bike_station,empty_slots_x,latitude_x,longitude_x,id,latitude_y,longitude_y,free_bikes_y,empty_slots_y
0,69-XeqifmzI1DaDPddIh-Q,6.0,5.0,7,0,39,41.969090,-87.674237,1f5c4bbbdda9c2d08239135f4adde68f,41.969090,-87.674237,7,39
1,mVmnJBgltQmdzuML9in32Q,34.0,5.0,7,0,39,41.969090,-87.674237,1f5c4bbbdda9c2d08239135f4adde68f,41.969090,-87.674237,7,39
2,IX0qRFsU9Hyx1LNPb4pGoQ,85.0,5.0,7,0,39,41.969090,-87.674237,1f5c4bbbdda9c2d08239135f4adde68f,41.969090,-87.674237,7,39
3,--Yw337vTC4fLKRCaw-PLQ,276.0,5.0,7,0,39,41.969090,-87.674237,1f5c4bbbdda9c2d08239135f4adde68f,41.969090,-87.674237,7,39
4,VTeUMSgvaGUWaa3gxp6f7g,82.0,5.0,7,0,39,41.969090,-87.674237,1f5c4bbbdda9c2d08239135f4adde68f,41.969090,-87.674237,7,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11593,qXpvnq1EJ27iuoghG5A4-g,540.0,4.5,0,600,6,41.935581,-87.644042,1ddd2cafbc0a206311cfcc662ead1fd1,41.935581,-87.644042,0,6
11594,B5biZi7FWkzZ1c4F_VbnBQ,16.0,4.5,0,600,6,41.935581,-87.644042,1ddd2cafbc0a206311cfcc662ead1fd1,41.935581,-87.644042,0,6
11595,qQfpPjZffGOJqODx_mEgHA,19.0,4.5,0,600,6,41.935581,-87.644042,1ddd2cafbc0a206311cfcc662ead1fd1,41.935581,-87.644042,0,6
11596,XDEPn4jV224fduZcIYfqEA,49.0,4.5,0,600,6,41.935581,-87.644042,1ddd2cafbc0a206311cfcc662ead1fd1,41.935581,-87.644042,0,6
11597,qvj2Lho5xuymCy_7NrAe3g,27.0,4.5,0,600,6,41.935581,-87.644042,1ddd2cafbc0a206311cfcc662ead1fd1,41.935581,-87.644042,0,6

In [29]:
df_data = df_merge.merge(foursquare_api, on = 'bike_station')

In [30]:
df_data

,id_x,review_count,rating,free_bikes_x,bike_station,empty_slots_x,latitude_x,longitude_x,id,latitude_y,longitude_y,free_bikes_y,empty_slots_y,fsq_id,free_bikes,empty_slots,latitude,longitude,distance
0,69-XeqifmzI1DaDPddIh-Q,6.0,5.0,7,0,39,41.969090,-87.674237,1f5c4bbbdda9c2d08239135f4adde68f,41.969090,-87.674237,7,39,5333308c498e832a60af3d55,7,39,41.969090,-87.674237,64
1,69-XeqifmzI1DaDPddIh-Q,6.0,5.0,7,0,39,41.969090,-87.674237,1f5c4bbbdda9c2d08239135f4adde68f,41.969090,-87.674237,7,39,4a807b49f964a52069f51fe3,7,39,41.969090,-87.674237,42
2,69-XeqifmzI1DaDPddIh-Q,6.0,5.0,7,0,39,41.969090,-87.674237,1f5c4bbbdda9c2d08239135f4adde68f,41.969090,-87.674237,7,39,520c391a11d2d981be88347b,7,39,41.969090,-87.674237,172
3,69-XeqifmzI1DaDPddIh-Q,6.0,5.0,7,0,39,41.969090,-87.674237,1f5c4bbbdda9c2d08239135f4adde68f,41.969090,-87.674237,7,39,5a6fafafc62b49492c130013,7,39,41.969090,-87.674237,50
4,69-XeqifmzI1DaDPddIh-Q,6.0,5.0,7,0,39,41.969090,-87.674237,1f5c4bbbdda9c2d08239135f4adde68f,41.969090,-87.674237,7,39,535b07c3498eba1a59a21680,7,39,41.969090,-87.674237,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115975,qvj2Lho5xuymCy_7NrAe3g,27.0,4.5,0,600,6,41.935581,-87.644042,1ddd2cafbc0a206311cfcc662ead1fd1,41.935581,-87.644042,0,6,5d4addc07928f300080223b3,0,6,41.935581,-87.644042,159
115976,qvj2Lho5xuymCy_7NrAe3g,27.0,4.5,0,600,6,41.935581,-87.644042,1ddd2cafbc0a206311cfcc662ead1fd1,41.935581,-87.644042,0,6,4b67a136f964a520ad582be3,0,6,41.935581,-87.644042,109
115977,qvj2Lho5xuymCy_7NrAe3g,27.0,4.5,0,600,6,41.935581,-87.644042,1ddd2cafbc0a206311cfcc662ead1fd1,41.935581,-87.644042,0,6,4b4a7352f964a520038826e3,0,6,41.935581,-87.644042,249
115978,qvj2Lho5xuymCy_7NrAe3g,27.0,4.5,0,600,6,41.935581,-87.644042,1ddd2cafbc0a206311cfcc662ead1fd1,41.935581,-87.644042,0,6,4b2b8a46f964a52057b724e3,0,6,41.935581,-87.644042,112
115979,qvj2Lho5xuymCy_7NrAe3g,27.0,4.5,0,600,6,41.935581,-87.644042,1ddd2cafbc0a206311cfcc662ead1fd1,41.935581,-87.644042,0,6,5abd5f1697cf5a6f517f6e91,0,6,41.935581,-87.644042,162

In [31]:
df_data.columns

Index(['id_x', 'review_count', 'rating', 'free_bikes_x', 'bike_station',
       'empty_slots_x', 'latitude_x', 'longitude_x', 'id', 'latitude_y',
       'longitude_y', 'free_bikes_y', 'empty_slots_y', 'fsq_id', 'free_bikes',
       'empty_slots', 'latitude', 'longitude', 'distance'],
      dtype='object')

In [34]:
# DROP UNRELEVANT COLUMNS
df_data = df_data.drop(['id_x', 'free_bikes_x', 'empty_slots_x', 'latitude_x', 'longitude_x', 'id' ,'latitude_y','longitude_y',
                       'free_bikes_y' , 'empty_slots_y','fsq_id',], axis=1)

In [35]:
df_data.head(5)

,review_count,rating,bike_station,free_bikes,empty_slots,latitude,longitude,distance
0,6.0,5.0,0,7,39,41.96909,-87.674237,64
1,6.0,5.0,0,7,39,41.96909,-87.674237,42
2,6.0,5.0,0,7,39,41.96909,-87.674237,172
3,6.0,5.0,0,7,39,41.96909,-87.674237,50
4,6.0,5.0,0,7,39,41.96909,-87.674237,47

In [36]:
df_data.shape

(115980, 8)

In [41]:
#COUNT DUPLICATE ROW
duplicate_rows_df = df_data[df_data.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)

number of duplicate rows:  (7940, 8)

In [43]:
df_data.count()      # Used to count the number of rows

review_count    115980
rating          115980
bike_station    115980
free_bikes      115980
empty_slots     115980
latitude        115980
longitude       115980
distance        115980
dtype: int64

In [46]:
#REMOVE DUPLICATE DATA
df_data = df_data.drop_duplicates()
df_data.head(5)
df_data.shape

(108040, 8)

In [47]:
df_data.count()

review_count    108040
rating          108040
bike_station    108040
free_bikes      108040
empty_slots     108040
latitude        108040
longitude       108040
distance        108040
dtype: int64

In [50]:
#COUNT NULL VALUES
print(df_data.isnull().sum())

review_count    0
rating          0
bike_station    0
free_bikes      0
empty_slots     0
latitude        0
longitude       0
distance        0
dtype: int64

In [53]:
filepath = Path('merge_data.csv')
filepath.parent.mkdir(parents=True, exist_ok=True)

df_data.to_csv(filepath, index=False)